<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mhy.demo02.mapper.UserMapper">
    <update id="updateBalanceById">
        update user  set balance = balance - #{amount} ${ew.customSqlSegment}
    </update>
    <update id="putUserById">
        update user set balance = balance - #{money} ${ew.customSqlSegment}
    </update>

    <select id="selectUserById" resultType="com.mhy.demo02.domain.User">
        select *
        from user where id = #{id}
    </select>

</mapper>
